// Color cube

$white: #ffffff;
$tuna: #353841;
$Burnt-sienna: #ed6864;
$French-gray: #bababe;
$jumbo: #787876;
$goldenrod: #fcd66c;
$tabasco: #92340f;

// Median cut

$rose-fog: #ebcac5;
$tuna-mc: #3e3447;
$makara: #8d7c6d;
$edward: #a1aba9;
$regend-gray: #8c9aa5;

// Material design

$burnt-sienna: #ea6862;
$gray-chateau: #a2abae;
$sambuca: #3d2512;
$thunder: #171216;
$putty: #e9c899;